TOKEN=""

COMPOSE_PROJECT_NAME=""

DATABASE_URL="postgresql://db_user:db_password@localhost:5432/db_name"
DOCKER_DB_NAME="db_name"
DOCKER_DB_USER="db_user"
DOCKER_DB_PASSWORD="db_password"

PGADMIN_DEFAULT_EMAIL="pgadmin@admin.admin"
PGADMIN_DEFAULT_PASSWORD="pgdmin_password"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_DB="1"
REDIS_PASSWORD="REDIS_PASSWORD"